* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
}

.nav {
    height: 91px;
    width: 550px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 1px;
    border-radius: 5px 5px 0 0 ;
}

.react-facts-title {
    display: flex;
    gap: 5px;
    margin-left: 28px;
    color: #00ABCA;
    letter-spacing: -1.113px;
}

.toggle-theme {
    margin-right: 28px;
    display: flex;
    gap: 5px;
    align-items: center;
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
}

.toggle-img-container {
    position: relative;
}

.toggle-circle { 
    position: absolute;
    right: 13px;
}