.newGameButton {
    background: #F4F6F5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 242px;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
}

.newGameButton:hover {
    background-color: #C5A0D7;
    cursor: pointer;
}