.turn {    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 242px;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    background-color: #BCDBF9;
}

.X-turn {
    background-color: var(--g11-color, #48D2FE);
}

.O-turn {
    background-color: #E2BE00;
}