.main {
    width: 550px;
    height: 459px;
    padding: 30px;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
    border-radius: 0 0 5px 5px;
}

.main > h1 {
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 39px;
    letter-spacing: -0.05em;
}

li {
    padding-block: 10px;
    max-width: 400px;
}

li::marker {
    font-size: 1.4rem;
    color: #61DAFB;
}